/* Header Section */
*{
    margin: 0 auto;
    padding: 0 auto;
}
.bg-img{
    background-image: url(../Assets/Hero-bg.png);
    width: 1440px;
    /* height: 698px; */
    gap: 158px;
    padding: 0 ;
    /* margin: 130px; */
}
h3{
    font-family: "Raleway", sans-serif;
    color: #4E47FF;
    margin: 30px auto;
    font-weight: bold;
    font-size: 40px;
}
/* Raleway Font */
/* .raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */   
#text-primary{
    color: white;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    margin: 20px 20px;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    margin: 30px auto;
    padding: 12px 36px; 
}
/* Banner Section */
.banner-content{
    font-family: "Raleway", sans-serif;
    color: black;
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    gap: 158px;
    padding: 0 200px;
}
.btn-secondary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    margin: 30px auto;
    padding: 12px 36px;
}
    /* Main Section */
    .action-section{
        display: flex;
        width: 1140px;
        /* height: 328px; */
        /* margin: 130px; */
        background-color: F5F8FF;
        align-items: center;
        margin: 0 auto;
    }
    .action-title{
        font-family: "Raleway", sans-serif;
        color: black;
        margin: 30px auto;
        font-weight: bold;
        font-size: 40px;
    }
    .action-p{
        font-family: "Raleway", sans-serif;
        color: black;
        margin: 10px 10px;
        font-size: medium;
       }
    .btn-Third{
       background-color: #4E47FF;
        font-weight: bold;
        font-size: 15px;
        border-radius: 10px;
        color: white;
        margin: 30px auto;
        padding: 12px 36px;
    }
    .action-img{
        border-radius: 48px;
        padding: 0 17px;
    }
    .third-bg{
        background-color: #E4E6FF;
        width: 1140px;
        /* height: 306px; */
        border-radius: 20px;
        margin-top: 40px;
        padding: 20px 40px;
    }
    /* Productive Section */
    .section-title{
        font-size: 38px;
        font-weight: Bold;
        color: black;
        font-family: "Raleway", sans-serif;
        text-align: center;
        padding: 50px 80px;
    }
    .productive-title{
        font-size: 4em;
        font-family: "Inter";
        color: #4E47FF;
        padding: 10px;
        font-weight: bold;
    }
    .productive-description{
        font-weight: 600;
        text-align: center;
        gap: 50px;
        padding: 5px;
    }
    .productive-user{
        display: flex;
    }
    /* Challenges */
    main{
        max-width: 1140px;
        /* max-height: 331px; */
        background-color: #F5F8FF;
        /* margin: 130px; */
    }
    .card-container{
        display: flex;
        padding: 20px;
        gap: 30px;
    /* flex-wrap: wrap; */
}
    .user{
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 42px;
        font-family: "Raleway", sans-serif;
}
    .card-title{
        color: black;
        font-size: 30px;
}
.card{
    width: 300px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
}
.client{
    display: flex;
}
.reviewer{
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.img-title, .img-date{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0px auto;
    margin-top: 10px;
}
/* Focus better */
main{
    width: 1140px;
    /* height: 697px; */
    background-color: #F5F8FF;
    padding: 0 71px;
    /* margin: 130px; */
}
    .focus-title{
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 70px;
        font-family: "Raleway", sans-serif; 
}
    .focus-description{
        font-weight: 600;
        text-align: center;
        margin: 20px auto;
        font-family: "Raleway", sans-serif; 
    }
    .focus-btn{
        background-color: #4E47FF;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
        color: white;
        margin: 20px 20px;
        padding: 12px 36px;
        display: flex;
    }
    .focus-img{
        display: inline-block;
        border-radius: 48px;
        overflow: hidden;
        margin: 50px;
    }
  /* Get in Touch */
  main{
        width: 1140px;
        height: 632px;
        background-color: #F5F8FF;
        padding: 0 71px;
        /* margin: 130px; */
    }
    .footer-column{
        display: inline-block;
        margin: 0 auto;
        padding: 20px;
        justify-content: space-between;
    }
  .form-title{
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 70px;
    font-family: "Raleway", sans-serif; 
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-touch{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
form input[type="text"], form input[type="email"]{
    font-size: 18px;
    font-family: Inter;
    height: 70px;
    width: 497px;
    border-radius: 10px;
    display: block;
    padding: 10px 10px;
    margin: 20px 0;
}
.form-input textarea{
    height: 150px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    margin: 20px 0;
    padding: 10px;
}
.focus-better{
    text-align: center;
}
    .focus-btn{
        background-color: #4E47FF;
        font-weight: bold;
        width: 497px;
        font-size: 20px;
        border-radius: 10px;
        color: white;
        margin: 0px auto;
        padding: 10px 36px;
        text-align: center; 
    }
    .footer-column{
        font-family: "Raleway", sans-serif;
        justify-content: center;
        margin: 0 auto; 
    }
/* Footer Section */
    .get-touch{
    width: 1440px;
    /* height: 428px; */
    background-color: white;
    /* margin: 130px; */
    }
.footer-title{
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    margin: 60px auto;
    font-weight: bold;
    font-size: 100px;
}
.footer-description{
    font-weight: 600;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.footer-link{
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    display: inline-block;
}
.footer-container{
    text-align: center;
    font-family: "Raleway", sans-serif;;
}